@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('http://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	border: 0;
	padding: 0;
}
body {
    color: #555;
    text-align: justify; 
    font-size: 13px;
    font-family: 'Roboto Condensed','Open Sans', sans-serif;
    line-height: 190%; 
    
}
h3  {
    font-size: 160%;
    padding: 3% 0;
    text-align: center;
        font-family: 'Roboto Condensed','Open Sans', sans-serif;

}
h4  {
    font-size: 100%;
    padding: 1% 0;
    text-align: center;
    font-family: 'Roboto Condensed','Open Sans', sans-serif;

}
h2  {
    font-size: 200%;
    padding: 3% 0;
    text-align: center;
    font-family: 'Roboto Condensed','Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 400%;
    font-weight: bolder;
    font-family: 'Roboto Condensed','Open Sans', sans-serif;
    font-family:  serif;
    text-align: center;
    line-height: 50px;

}

p, ul{
    padding: 20px;
    
}

img{
    max-width: 100%;
    max-height: 100%;
    
}


header{
    background: #17202A;
    height: 86px;
    position: fixed;
    z-index:1000;
    width: 100%;
    opacity: .95;
    top: 0;
    
}

#header-inner {
 
    margin: 0 auto;
}

.logo {
    float: left;
    max-height: 60px;
    width: 75px;
    padding: 20px;
    
}

#page-owner{
    float: left;
    font-size: 130%;
    padding: 35px 0 ;
    color: white;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-style: italic;
}

nav{
    float: right;
    padding: 25px 50px 0 0;
}

#menu-icon{
    
}

ul{
    list-style: none;
}

nav ul li {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 10px;
    float: left;
    font-size: 110%
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-weight: 700;
}

a:hover{
    color: green;
    text-decoration-line: underline;
    
}
.current {
    color: greenyellow;
    text-decoration-line: underline;
    font-weight: 1000;
}

/*--- start slider --*/
.slider{
   
    margin-top: 90px;
}
.bx-controls{
    display: none;
}


.bx-wrapper img{
    width: 100%;
    
    margin: 0 auto;
    
    
}


.clearfix{
    clear:both;
    padding: 2%;
    
}

/*---- inner wrapper introduction --*/

.inner-wrapper-ethno {
    margin: 0 auto;
    margin-top: 90px;
    max-width: 1000px;    
}

#uxresearch{ 
    padding-top: 100px;
    margin: 0 auto;
    
    color: white;

} 










/*---- footer inner --*/
#footer-inner{
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;


}

.footercontact{
    width: 50%;
    float:left;
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
    
}

.footersocial{
    padding-top: 50px;
    padding-right: 50px;
    float: right;
}

.fa fa-map-marker{
    padding-left: 50px;s
}
#p{ padding-right: 6px;
    margin-left: 2px;
}
#e{ padding-right: 5px;}
#l{ padding-right: 9px;
    margin-left: 3px;
}

.second{
    text-align:center;
}

